@import url(common.css);
@import url(header.css);
@import url(footer.css);

/* container_sub style (about) */
#container_sub {width: 100%;}
#container_sub .intro_tit{margin-left: 20px;font-size: 2.5em; }
#container_sub .sub_tit{font-size: 1.5em;width: 120px;height: 30px;
line-height: 30px;background-color: #000;text-align: center;
color: #fff;border-radius: 15px; margin-top: 20px;margin-left: 20px;}

#container_sub .txt{width: 90%;height: 80px;margin: 20px;}

/* #container_sub .ptxt{width: 94%;height:auto;margin: 20px;}
#container_sub .ptxt p{padding: 10px; text-align: justify;} */

#container_sub .txt p:nth-child(1){
    float: left;width: 20%;text-align: center;font-size: 2em;
    background-color: rgb(63,63,63);color: #fff;
    line-height: 80px;}
#container_sub .txt p:nth-child(2){
 width: 80%;line-height: 80px;text-align: center;
 font-size: 1em;background-color: rgb(123,123,123); 
 color: #fff;}
 #container_sub .intro{width: 100%;}
 #container_sub .intro img{width: 100%;}