@import url(common.css);
@import url(header.css);
@import url(footer.css);

/* container_sub style (product) */

/* best */
#container_sub {}
#list_sub{padding: 5px;}
#list_sub h2{font-size: 1.5em;margin-bottom: 15px;
padding-left: 20px;padding: 10px;background-color: #676767;color: #fff;}
#list_sub .p_list{margin-bottom: 40px;}
#list_sub .p_list::after{content: '';display: block;clear: both;}
#list_sub .p_list li{float: left;width: 50%;}
#list_sub .p_list li a{display: block;margin-right: 5px;margin-bottom: 10px;}
#list_sub .p_list li:nth-child(2n) a{margin-right: 0;margin-left: 5px;}
#list_sub .p_list li a img{width: 100%;}


/* new */
#list_sub2{padding: 5px;}
#list_sub2 h2{font-size: 1.5em;margin-bottom: 15px;
    padding-left: 20px;padding: 10px;background-color: #676767;color: #fff;}
#list_sub2 .p_list2{margin-bottom: 40px;}
#list_sub2 .p_list2::after{content: '';display: block;clear: both;}

#list_sub2 .p_list2 li{float: left;width: 33.3%;}
#list_sub2 .p_list2 li a{display: block;margin-right: 5px;margin-bottom: 10px;}
#list_sub2 .p_list2 li:nth-child(3n) a{margin-right: 0;margin-left: 5px;}
#list_sub2 .p_list2 li a img{width: 100%;}
#list_sub2 .p_list2 li a p{font-size: 0.8em;}

/* event */
#list_sub3{padding: 5px;}
#list_sub3 h2{font-size: 1.5em;margin-bottom: 15px;
    padding-left: 20px;padding: 10px;background-color: #ee2525;color: #fff;}
#list_sub3 .p_list3{margin-bottom: 40px;}
#list_sub3 .p_list3::after{content: '';display: block;clear: both;}

#list_sub3 .p_list3 li{float: left;width: 25%;}
#list_sub3 .p_list3 li a{display: block;margin-right: 5px;margin-bottom: 10px;}
#list_sub3 .p_list3 li:nth-child(4n) a{margin-right: 0;margin-left: 5px;}
#list_sub3 .p_list3 li a img{width: 100%;}
#list_sub3 .p_list3 li a p{font-size: 0.6em;text-align: center;}
